<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <h2>ASSIGNMENTS</h2>
      <hr />
      <div class="DirectivesAssignment">
        <h5>Directives</h5>
        <!-- <button
          class="btn btn-primary"
          (click)="showHiddenText = !showHiddenText"
        > -->
        <button class="btn btn-primary" (click)="onToggleDetails()">
          Click
        </button>
        <p *ngIf="showHiddenText">I am hidden text!</p>
        <div
          *ngFor="let logItem of log; let i = index"
          [ngStyle]="{ backgroundColor: i >= 5 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'white-text': i >= 5 }"
        >
          {{ logItem }}
        </div>
      </div>

      <div class="ComponentsAndDatabinding">
        <h5>Components and Databinding</h5>
        <div class="col-xs-12">
          <app-game-control
            (intervalEvent)="onIntervalEvent($event)"
          ></app-game-control>
        </div>
        <div class="col-xs-12">
          <app-odd *ngFor="let o of oddNumbers" [number]="o"></app-odd>
          <app-even *ngFor="let e of evenNumbers" [number]="e"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
